{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <h1 class="h3">{% trans "Your Shared Items:" %}</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th class="text-center">{% trans "URL Address or File Name" %}</th>
        <th class="text-center">{% trans "Secret Link" %}</th>
        <th class="text-center">{% trans "Password" %}</th>
        <th class="text-center">{% trans "Expires (UTC)" %}</th>
        <th class="text-center">{% trans "Views" %}</th>
      </tr>
      </thead>
      <tbody>
      {% for item in shared_items %}
        <tr>
          <td><span title="{{ item }}">{{ item|truncatechars:"50" }}</span></td>
          <td>{{ request.build_absolute_uri }}{{ item.id }}</td>
          <td>{{ item.password }}</td>
          <td class="text-right">{{ item.expires }}</td>
          <td class="text-right">{{ item.views }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5"><strong>{% trans "There are no items to display." %}</strong></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="text-center">
{#    <div class="col text-center">#}
      <a class="btn btn-info" href="{% url 'main:new_url' %}">{% trans "Add URL" %}</a>
      <a class="btn btn-info" href="{% url 'main:new_file' %}">{% trans "Add File" %}</a>
{#    </div>#}
  </div>
{% endblock %}
